#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#gallery a img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    height: 250px;
    border: 3px solid #79cdcf;
    border-radius: 10px;
}

[class |=hidden ] {
    display: none;
}

#links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
}

#links a {
    color: #79cdcf;
    text-decoration: none;
    margin-bottom: 18px;
    font-size: 18px;
}

#links a:hover {
    text-decoration: underline;
}

#video h3 {
    color: white;
    font-size: 30px;
    margin-top: 50px;
}

#video iframe {
    width: 90%;
    height: 450px;
    border: 3px solid #79cdcf;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}


/*--------------- Gallery Responsiveness --------------*/
@media only screen and (max-width: 600px) {

    #gallery a img {
        width: 200px;
        height: 200px;
    }
    
}

@media only screen and (max-width: 420px) {

    #gallery a img {
        width: 150px;
        height: 150px;
        margin-bottom: 0px;
    }

    #projectStyle p {
        font-size: 16px !important;
    }
    
    #links  {
        margin-top: 20px;

    }

    #links a {
        font-size: 16px;
        padding-right: 20px;
        color: paleturquoise;
    }
}
/*--------------- Gallery Responsiveness End --------------*/

/*--------------- Video Responsiveness --------------*/
@media only screen and (max-width: 900px){
    #video iframe {
        margin-left: 30px;
        height: 50vw;
    }
}

@media only screen and (max-width: 600px){
    #video h3 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 420px){ 
    #video h3 {
        font-size: 18px;
        margin-top: 30px;
        margin-left: 20px;
    }

    #video iframe {
        margin-left: 20px;
    }
}
/*--------------- Video Responsiveness End --------------*/