body {
    background-color: #8c8b91;
}

h3 {
    margin-left: 30px;
    margin-top: -40px;
    font-size: 50px;
    color: rgb(141, 203, 253);
}

h3 span {
    position: relative;
    top: -5px;
    font-size: 25px;
}

h3:hover {
    cursor: pointer;
}

h1 {
    margin-left: 30px;
    margin-top: 150px;
    color: white;       
}

h2 {
    margin-left: 30px;
    color: white;
    font-size: 30px;
    margin-top: -30px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 80px;
}

.projects .joc_con, .spotify_con, .movie_con, .otb_con, .mm_con {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/*-----------Joy Of Chá Thumbnail in Projects section ----------*/
.projects .joc_con {
    border: 3px solid #79cdcf;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    background-image: url("./images/joc.jpg");
    background-size: contain;
}

.projects .joc_con p {
    color: white;
    font-size: 22px;
    background-color: #79cdcf;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: -2px;
    padding-top: 111px;
    padding-left: 50px;
    padding-bottom: 109.5px;
    border-radius: 10px;
    opacity: 0;
}

.projects .joc_con:hover {
    cursor: pointer;
}

.projects .joc_con p:hover {
    opacity: 0.9;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
/*---------------END-------------*/

/*-----------Spotify Thumbnail in Projects section ----------*/
.projects .spotify_con {
    border: 3px solid #79cdcf;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    background-image: url("./images/artist.jpg");
    background-size: contain;
}

.projects .spotify_con p {
    color: white;
    font-size: 22px;
    background-color: #79cdcf;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: -2px;
    padding-top: 111px;
    padding-left: 35px;
    padding-bottom: 109.5px;
    border-radius: 10px;
    opacity: 0;
}

.projects .spotify_con:hover {
    cursor: pointer;
}

.projects .spotify_con p:hover {
    opacity: 0.9;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
/*---------------END-------------*/

/*-----------Movie Search Thumbnail in Projects section ----------*/
.projects .movie_con {
    border: 3px solid #79cdcf;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    background-image: url("./images/display.jpg");
    background-size: cover;
}

.projects .movie_con p {
    color: white;
    font-size: 22px;
    text-align: center;
    background-color: #79cdcf;
    margin-top: 0px;
    margin-left: -3px;
    margin-right: -3px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 91px;
    border-radius: 10px;
    opacity: 0;
}

.projects .movie_con:hover {
    cursor: pointer;
}

.projects .movie_con p:hover {
    opacity: 0.9;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
/*---------------END-------------*/

/*-----------Over The Bump Thumbnail in Projects section ----------*/
.projects .otb_con {
    border: 3px solid #79cdcf;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    background-image: url("./images/otb.jpg");
    background-size: cover;
}

.projects .otb_con p {
    color: white;
    font-size: 22px;
    text-align: center;
    background-color: #79cdcf;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: -2px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 92px;
    border-radius: 10px;
    opacity: 0;
}

.projects .otb_con:hover {
    cursor: pointer;
}

.projects .otb_con p:hover {
    opacity: 0.9;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
/*---------------END-------------*/

/*-----------Mac Motors Thumbnail in Projects section ----------*/
.projects .mm_con {
    border: 3px solid #79cdcf;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    background-image: url("./images/mm.jpg");
    background-size: cover;
}

.projects .mm_con p {
    color: white;
    font-size: 22px;
    background-color: #79cdcf;
    margin-top: 0px;
    margin-left: -2px;
    margin-right: -2px;
    padding-top: 111px;
    padding-left: 20px;
    padding-bottom: 109.5px;
    border-radius: 10px;
    opacity: 0;
}

.projects .mm_con:hover {
    cursor: pointer;
}

.projects .mm_con p:hover {
    opacity: 0.9;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
/*---------------END-------------*/

@media only screen and (max-width: 550px) {

    .projects .joc_con {
        width: 200px;
        height: 200px;
    }

    .projects .joc_con p {
        font-size: 20px;
        padding-bottom: 84px;
        padding-left: 35px;
        padding-top: 90px;
    }

    .projects .spotify_con {
        width: 200px;
        height: 200px;
    }

    .projects .spotify_con p {
        font-size: 20px;
        padding-bottom: 84px;
        padding-left: 20px;
        padding-top: 90px;
    }

    .projects .movie_con {
        width: 200px;
        height: 200px;
    }

    .projects .movie_con p {
        font-size: 20px;
        padding-bottom: 78px;
        padding-left: 20px;
        padding-top: 70px;
    }

    .projects .otb_con {
        width: 200px;
        height: 200px;
    }

    .projects .otb_con p {
        font-size: 20px;
        padding-bottom: 78px;
        padding-left: 20px;
        padding-top: 70px;
    }

    .projects .mm_con {
        width: 200px;
        height: 200px;
    }

    .projects .mm_con p {
        font-size: 20px;
        padding-bottom: 78px;
        padding-left: 10px;
        padding-top: 70px;
        text-align: center;
    }

}

#projectPage p {
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}
