#skills h2 {
    margin-top: 80px;
}

#skills_con {
    background-color: #79cdcf;
    width: 100%;
    height: auto;
}

#skills_con ul {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

#skills_con ul li {
    font-size: 20px;
    padding: 10px 60px 30px 20px;
}

#skills_con ul li span {
    position: relative;
    top: 5px;
    padding-right: 20px;
}

#skills_con ul li p {
    margin-top: -34px;
    margin-left: 60px;
}

/*------------------ "Education" Section ----------------*/
#edu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -40px;
}

/*------------------ "ITT" Section ----------------*/
#itt {
    margin-left: -150px;
    margin-top: 150px;
    width: 45%;
}

#itt h3 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: -18px;    
}

#itt h3 span { 
    padding-left: 10px;
    position: relative;
    top: 0px;
    font-size: 20px !important;
    color: rgb(99, 98, 98);
}

#itt h4 {
    font-size: 20px;
    color: rgb(73, 73, 73);
}

#itt ul {
    color: white;
    font-size: 20px;
    padding-left: 20px;
    list-style: circle;
}

#itt ul li {
    padding-bottom: 15px;
}

/*------------------ "DID" Section ----------------*/
#did {
    width: 45%;
    margin-left: 30px;
    margin-top: 150px;
}

#did h3 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: -18px; 
}

#did h3 span { 
    padding-left: 10px;
    position: relative;
    top: 0px;
    font-size: 20px !important;
    color: rgb(99, 98, 98);
}

#did h4 {
    font-size: 20px;
    color: rgb(73, 73, 73);
}

#did ul {
    color: white;
    font-size: 20px;
    padding-left: 20px;
    list-style: circle;
}

#did ul li {
    padding-bottom: 15px;
}


/*--------------- Skills Responsiveness ---------------*/

@media only screen and (max-width: 420px){

    #skills h2 {
        font-size: 22px;
    }

    #skills_con ul {
        padding-top: 10px;
        padding-bottom: 0px;
        margin-left: -10px;
        line-height: 50px;
    }

    #skills_con ul li {
        font-size: 18px;
        padding: 0px 30px 0px 0px;
        font-weight: 600;
    }

    #skills_con ul li.move {
        margin-top: -20px !important;
        padding-bottom: 20px;
    }

    #skills_con ul li span {
        display: none;
    }

    #skills_con ul li i {
        display: none;
    }
    
    #skills_con ul li p {
        margin-top: 0px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 379px){
    #skills_con ul li.ux {
        margin-top: -20px;
    }
}
/*--------------- Skills Responsiveness End ---------------*/


/*--------------- Education Responsiveness ---------------*/
@media only screen and (max-width: 1100px){
    #edu {
        flex-direction: column;
    }

    #itt {
        width: 90%;
        margin-left: 30px;
        margin-top: 0px;
        padding-right: 30px;
        margin-bottom: -140px;
    }

    #did {
        width: 90%;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 600px){
    #itt {
        width: 85%;
    }
    
    #itt h3 { 
        font-size: 22px;
    }

    #itt h3 span {
        font-size: 18px !important;
    }

    #itt ul {
        font-size: 18px;
    }

    #did {
        width: 85%;
    }
    
    #did h3 { 
        font-size: 22px;
    }

    #did h3 span {
        font-size: 18px !important;
    }

    #did ul {
        font-size: 18px;
    }
}

@media only screen and (max-width: 420px){
    #edu h2 {
        margin-top: 60px !important;
        margin-left: 20px;
    }
    
    #itt {
        width: 75%;
        margin-left: 20px;
    }
    
    #itt h3 { 
        font-size: 20px;
    }

    #itt h3 span {
        font-size: 18px !important;
        padding-left: 0px;
        position: relative;
        top: 0px;
        float: left;
    }

    #itt h4 {
        font-size: 18px;
        margin-top: 50px;
    }

    #itt ul {
        font-size: 16px;
    }

    #did {
        width: 75%;
        margin-left: 20px;
    }
    
    #did h3 { 
        font-size: 20px;
    }

    #did h4 {
        font-size: 18px;
    }

    #did h3 span {
        font-size: 18px !important;
        padding-left: 0px;
        margin-bottom: 10px;
    }

    #did ul {
        font-size: 16px;
    }
}

/*--------------- Education Responsiveness End ---------------*/