#footer {
    background-color: rgb(73, 73, 73);
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: -20px;
}

#footer ul {
    color: white;
    font-size: 18px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
}

#footer ul li {
    padding-bottom: 15px;}

#footer ul li i {
    padding-right: 15px;
}

#footer ul li a {
    color: white;
    text-decoration: none;
}

#footer ul li a:hover {
    border-bottom: 2px dotted white;
}

/*------------------ Footer Responsiveness ----------------*/
@media only screen and (max-width: 420px){
    #footer ul {
        font-size: 16px !important;
        text-align: center;
        margin-left: -30px;
    }
}

/*------------------ Footer Responsiveness End ----------------*/